<form action="/rides/add" method="post">
  <p>Date
    <input type="date" name="date" required="required">
  </p>
  <p> Ride Distance (in Miles)
    <input type="text" name="distance" />
  </p>
  <p> Ride Duration (HH:MM format)
    <input type="text" name="duration" />
  </p>
  <input type="submit" value="Save Ride" />
</form>

<a href="/home">Home</a>



