<form action="/rides/edit/<%= @ride_id %>" method="post">
  <p>Date
    <input type="date" name="date" required="required" value="<%= @date %>">
  </p>
  <p> Ride Distance (in Miles)
    <input type="text" name="distance" value="<%= @distance %>"/>
  </p>
  <p> Ride Duration (HH:MM format)
    <input type="text" name="duration" value="<%= @duration %>"/>
  </p>
  <p>Ride Category
    <input type="radio" name="category" value="Road" />Road
    <input type="radio" name="category" value="Mountain" />Mountain
    <input type="radio" name="category" value="Cross" />Cross
    <input type="radio" name="category" value="Race" />Race
    <input type="radio" name="category" value="Commute" />Commute
    <input type="radio" name="category" value="Trainer" />Trainer
  </p>
  <input type="submit" value="Save Ride" />
</form>

<a href="/home">Home</a>